div.content-stage
  div.main(role='main')
    div.about-hhh
      div.page-header We love
        span.houston-hash #Hustletown
      hr.grey
      div.about-content
        img.heart-infinity(src='/images/heart-infinity.png', alt='Infinite Love')
        p Houston is a big place, but even big cities need love. And sometimes it’s easy to forget all the little things that makes this city special. We want this app to help you remember all the reasons Houston has heart, and why it deserves to.
        p Use it to keep track of the little things you love, share them with your community, and discover all the new and cool you things you’ve been missing out on.
        p If you have a suggestion or would like to just say hi, email us at 
          a(href='mailto:hugs@houstonhasheart.com') hugs@houstonhasheart.com
        p In the meantime, all we ask is that you keep things friendly, share this with friends and enjoy yourself.
        p 
          span.closing Nothing but love,
          The Houston Has Heart Team
        p.shout-out PS: We were inspired by the people behind 
          a(href='http://iliveinomaha.com/', target='_blank') iliveinomaha.com
          .