footer.site-footer
  div.container
    div.broad
      div.social-disclaimer.cf
        div.left-side
          a.social-link.sl-facebook(href='') Facebook
        div.rules
          span.directive Nothing but love y’all
          span.divider |
          span.warning Offensive posts will be deleted
        div.right-side
          a.social-link.sl-twitter(href='') Twitter
    div.info
      a(href='http://alwayscreative.net/', target='_blank') Made by Always Creative
      span.divider |
      a(href='/about') About This App
      span.divider |
      a(href='/privacy') Privacy Policy