form(method='post', action='/guest')
  label(for='name') Name
  input(type='text', name='name', id='name')
  label(for='name') Email
  input(type='email', name='email', id='email')
  button.submit(type='submit') Submit