doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    //meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Houston Has Heart
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.5.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script
      window.jQuery || document.write('<script src="/javascripts/jquery-1.7.2.min.js"><\\/script>')
    //if lte IE 9
      link(rel='stylesheet', href='/stylesheets/ie.css')
      script(src='/javascripts/ie.js')
    //if lte IE 8
      link(rel='stylesheet', href='/stylesheets/ie8.css')
      script(src='/javascripts/respond.min.js')
    //if lte IE 7
      script(src='https://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js')
      script
        window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic', rel='stylesheet', type='text/css')
    //
      script(type='text/javascript')
        WebFontConfig = {
          google: { families: [ 'Droid+Sans:400,700:latin', 'Droid+Serif:400,400italic:latin' ] }
          };
          (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
          })();
  body
    //if lte IE 7
      p.chromeframe 
        | Your browser is ancient! 
        a(href='http://browsehappy.com/') Upgrade to a different browser 
        | or 
        a(href='http://www.google.com/chromeframe/?redirect=true"') install Google Chrome Frame 
        | to significantly enhance your experience with this site.
    div#notification
    != body
    script(src='/javascripts/script.js')
    script(src='/socket.io/socket.io.js')