div.content-stage
  div.main(role='main')
    div.general-wrapper
      div.general-header
        h1 Privacy Policy
      hr.grey
      div.general-content.privacy-policy
        p We like to keep things short &amp; sweet, so let's drag this Privacy Policy out painfully long. This Privacy Policy sets out how Houston Has Heart uses and protects any information that you give Houston Has Heart when you use this website.
        p Houston Has Heart is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this Privacy Policy.
        p Houston Has Heart may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from June 19, 2012.
        h2 What we collect
        p We collect the following information when a comment you submit on this website has been validated and saved to our database.
        ul
          li Name & Email Address (if posting as a "Guest")
          li Specific user information supplied by Facebook (if posting using Facebook)
            ul
              li Name
              li Username
              li URI of your Facebook account
          li Specific user information supplied by Twitter (if posting using Twitter)
            ul
              li Name
              li Screen Name
              li URI of your profile image associated with your Twitter account
        h2 What we do with the information we gather
        p We only use this information to render submitted comments on the website in these specific ways:
        ul
          li Display of the comment author's name
          li Display of the comment author's picture from Gravatar, Facebook, or Twitter.
          li Hyperlinking the comment author's name to the URI of the author's Facebook or Twitter account if either of those two services were used to post that comment.
        h2 How we use cookies
        p A cookie is a small file which asks permission to be placed on your computer's hard drive. Upon visiting this website, one cookie will be created to associate your computer with the session the website creates. Twitter and Facebook may also add information pertinent for their servies to this cookie. No piece of personally identifiable information is kept in this cookie.
        h2 Links to other websites
        p Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide while visiting such sites and such sites are not governed by this Privacy Policy. You should exercise caution and look at the Privacy Policy applicable to the website in question.
        h2 Controlling your personal information
        p We will not share, sell, distribute or lease your personal information to third parties unless we are required by law to do so.
        h2 How to Contact Us
        p
          a.href('mailto:privacy@houstonhasheart.com') privacy@houstonhasheart.com