div.stage
  div.main(role='main')
    section.mainmast.cf
      img(src='/images/photos/photo1.jpg', alt='', id='mm-bg')
      div.logo-wrapper
        img(src='/images/hhh-logo.png', alt='Houston Has Heart', id='logo')
      div.commenting
        - if (!everyauth.loggedIn)
          div.process-intro
            img#identity(src='/images/hhh-text.png', alt='Houston Has Heart')
            button#share-love.main-btn(type='button') Share your love for Houston
          div.posting-info.cf
            div.instructions Choose your login type to share your love:
            div#post-options.post-options.cf
              a#twitter-post.login-option.cf(href='/auth/twitter')
                img(src='/images/twitter-graphic.png', alt='')
                span Twitter
              a#facebook-post.login-option(href='/auth/facebook')
                img(src='/images/facebook-graphic.png', alt='')
                span Facebook
              a#guest-post.login-option(href='#')
                img(src='/images/guest-graphic.png', alt='')
                span Guest
          div#compose.compose.cf
            != partial('forms/guest-form')
        - else
          - if (hasPosted == true)
            div.process-intro
              img#identity(src='/images/hhh-text.png', alt='Houston Has Heart')
              button#share-love.main-btn(type='button') Share more love for Houston
            div#has-posted.compose.cf!= partial('forms/loggedin-form')
          - else
            div#transient-intro.process-intro
              img#identity(src='/images/hhh-text.png', alt='Houston Has Heart')
              button#share-love.main-btn(type='button') Share more love for Houston
            div.compose.cf!= partial('forms/loggedin-form')
      div.filters
        a#recent-love.filter(href='/')
          span.filter-label Recent Love
        a#most-loved.filter(href='/most-loved')
          span.filter-label Most Loved
        a#search-tags.filter.current-filter(href='/search')
          span.filter-label Tags
    section.communications
      div.main-container
        div.content-head.cf
          form#comment-search.form-search(action='/search')
            input#search-query.search-input(type='text', placeholder='Search tags', name='q', autocomplete='off')
            button.search(type='submit') Search
          - if (tags)
            div.results Results for   
              strong
                - each tag in tags
                  | #{tag} 
        section.msgs
          - if (comments.length > 0)
            != partial('comments/comment')
          - else 
            p#no-results No comments containing 
              strong 
                - if (tags)
                  - each tag in tags
                    | #{tag} 
              | were found.
!= partial('footer')
script(src='/javascripts/tag.js')